h1 {
    color: #faf7f7;
    background-color: rgb(15, 15, 15);
}
    h2 {
        color: #faf7f7;
        background-color: #0f0f0f;
    
}
body {
   
    
   text-align: center;
   background-image:linear-gradient(black, white)
   
}
.centrar {
    text-align: left;
	display: inline-block;

}